# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# ignore compiler default binaries
a.out

# ignore cache/precompiled files
*.gch

# ignore hidden files except .git and .gitignore
.*
!.git
!.gitignore

# ignore assembly files
*.[sS]

# ignore object files
*.[oO]